<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nosorae.changed_name">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- P5 Picture Frame -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" /> <!-- P7 Recorder -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- p8 Web, p12 Book ... p20 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- p15 Airbnb, p18 location, p21-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- p18 location, p21 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"/> <!-- p21 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/> <!--  p21 런타임요청필요x-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" /> <!-- p22 -->
    <uses-permission android:name="android.permission.SET_WALLPAPER"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ModuleBasic"
        android:usesCleartextTraffic="true">

        <activity android:name="nosorae.changed_name.p1_bmi.BMIActivity" />
        <activity android:name="nosorae.changed_name.p1_bmi.BMIResultActivity" />
        <activity android:name="nosorae.changed_name.p2_lotto.LottoActivity" />
        <activity
            android:name="nosorae.changed_name.p3_diary.DiaryActivity"
            android:theme="@style/Theme.ModuleBasic.NoActionBar" />
        <activity
            android:name="nosorae.changed_name.p3_diary.DiaryResultActivity"
            android:theme="@style/Theme.ModuleBasic.NoActionBar" />
        <activity
            android:name="nosorae.changed_name.p4_calculator.CalculatorActivity"
            android:theme="@style/Theme.ModuleBasic.NoActionBar" />
        <activity
            android:name="nosorae.changed_name.p5_picture_frame.PictureFrameActivity"
            android:theme="@style/Theme.ModuleBasic.NoActionBar" />
        <activity
            android:name="nosorae.changed_name.p5_picture_frame.PictureFrameResultActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.ModuleBasic.NoActionBar" />
        <activity
            android:name="nosorae.changed_name.p6_pomodoro.PomodoroActivity"
            android:theme="@style/Theme.ModuleBasic.Pomodoro" />
        <activity
            android:name="nosorae.changed_name.p7_recorder.RecorderActivity"
            android:theme="@style/Theme.ModuleBasic.Recorder" />
        <activity
            android:name="nosorae.changed_name.p8_web.WebActivity"
            android:theme="@style/Theme.ModuleBasic.NoActionBar" />
        <activity
            android:name="nosorae.changed_name.p9_push.PushActivity"
            android:theme="@style/Theme.ModuleBasic.NoActionBar" />
        <activity
            android:name="nosorae.changed_name.p10_quote.QuoteActivity"
            android:theme="@style/Theme.ModuleBasic.Quote" />
        <activity
            android:name="nosorae.changed_name.p11_alarm.AlarmActivity"
            android:theme="@style/Theme.ModuleBasic.NoActionBar" />
        <activity
            android:name="nosorae.changed_name.p12_book.BookActivity"
            android:theme="@style/Theme.ModuleBasic.NoActionBar" />
        <activity
            android:name="nosorae.changed_name.p12_book.BookDetailActivity"
            android:theme="@style/Theme.ModuleBasic.NoActionBar" />
        <activity
            android:name="nosorae.changed_name.p13_tinder.TinderActivity"
            android:theme="@style/Theme.ModuleBasic.NoActionBar" />
        <activity
            android:name="nosorae.changed_name.p13_tinder.TinderLoginActivity"
            android:theme="@style/Theme.ModuleBasic.NoActionBar" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name="nosorae.changed_name.p13_tinder.TinderLikeActivity"
            android:theme="@style/Theme.ModuleBasic.NoActionBar" />
        <activity
            android:name="nosorae.changed_name.p13_tinder.TinderMatchedUserActivity"
            android:theme="@style/Theme.ModuleBasic.NoActionBar" />
        <activity
            android:name="nosorae.changed_name.p14_market.MarketActivity"
            android:theme="@style/Theme.ModuleBasic.NoActionBar" />
        <activity
            android:name="nosorae.changed_name.p14_market.home.MarketAddArticleActivity"
            android:theme="@style/Theme.ModuleBasic.NoActionBar" />
        <activity
            android:name="nosorae.changed_name.p14_market.chatDetail.MarketChatRoomActivity"
            android:theme="@style/Theme.ModuleBasic.NoActionBar" />
        <activity
            android:name="nosorae.changed_name.p15_airbnb.AirActivity"
            android:theme="@style/Theme.ModuleBasic.NoActionBar" />

        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="@string/naverMapAPIKey" />

        <activity
            android:name="nosorae.changed_name.p16_youtube.YoutubeActivity"
            android:theme="@style/Theme.ModuleBasic.NoActionBar" />
        <activity
            android:name="nosorae.changed_name.p17_music.MusicActivity"
            android:theme="@style/Theme.ModuleBasic.Music" />
        <activity
            android:name="nosorae.changed_name.p18_location.LocationActivity"
            android:theme="@style/Theme.ModuleBasic.NoActionBar" />
        <activity
            android:name="nosorae.changed_name.p18_location.LocationSearchActivity"
            android:theme="@style/Theme.ModuleBasic.NoActionBar" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />

        <activity
            android:name="nosorae.changed_name.p19_ott.OttActivity"
            android:theme="@style/AppTheme.AppBarOverlay" />
        <activity
            android:name="nosorae.changed_name.p20_git.GitSignInActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/Theme.ModuleBasic.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="github-auth"
                    android:scheme="android-fast-campus" />
            </intent-filter>
        </activity>
        <activity
            android:name="nosorae.changed_name.p20_git.GitActivity"
            android:theme="@style/Theme.ModuleBasic.NoActionBar" />

        <activity
            android:name="nosorae.changed_name.p20_git.GitRepositoryActivity"
            android:exported="true" />
        <activity
            android:name="nosorae.changed_name.p20_git.GitSearchActivity"
            android:exported="true" />

        <activity android:name="nosorae.changed_name.p21_dust.DustActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.ModuleBasic.Dust"/>

        <receiver android:name="nosorae.changed_name.p21_dust.appwidget.DustSimpleWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/widget_dust_simple_info"/>
        </receiver>

        <service android:name="nosorae.changed_name.p21_dust.appwidget.DustSimpleWidgetProvider$UpdateWidgetService"
            android:foregroundServiceType="location"/>

        <activity android:name="nosorae.changed_name.p22_unsplash.UnsplashActivity"
            android:theme="@style/Theme.ModuleBasic.NoActionBar"
            android:screenOrientation="portrait"
            />
        


        <activity
            android:name="nosorae.changed_name.p23_todo.TodoActivity"
            android:theme="@style/Theme.ModuleBasic.NoActionBar" />
        <activity android:name="nosorae.changed_name.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="nosorae.changed_name.p9_push.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <receiver
            android:name="nosorae.changed_name.p11_alarm.AlarmReceiver"
            android:exported="false" />
    </application>

</manifest>